{% extends 'base.html.twig'%}

{% block title %}Proovitoo artiklid {% endblock %}
{% block body %}
<div align="center" class="col ml-2 mr-2">
    <h1 class="mt-4"><a>{{category.title}}</a></h1>

    <div align="center" class="container">
        <div align="center" class="row ml-2 mr-2">
                {% for d in data %}
                <a href="{{ path('show', {'id': d.id}) }}">
                        <div align="center" class="card text-dark mb-4 ml-3">
                                <div class="card-body">
                                        {% if d.picture %}<div><img src={{d.picture}} alt="" height="200" width="relative"></div>
                                        {% else %}
                                        <div><img height="200"></div>
                                        {% endif %}
                                            <div><h5>{{d.title}}</h5></div>
                                            <div><a>{{d.description}}</a></div>
                                </div>
                        </div>
                    </a>
            {% endfor %}

        </div>
    </div>
    <div class="navigation">
            {{ knp_pagination_render(data) }}
        </div>
</div>

{% endblock %}