{% extends 'base.html.twig'%}

{% block title %}Proovitoo artiklid {% endblock %}
{% block body %}
<div align="center" class="col ml-2 mr-2">
    <h1><a>{{category.title}}</a></h1>

    <div align="center" class="container">
        <div align="center" class="row ml-2 mr-2">
                {% for d in data %}
                {% if category.title in d.categories %}
                    <div align="center" class="card text-dark mb-4">
                            <div class="card-body">
                                    <div><img src={{d.picture}} alt="" height="200" width="300"></div>
                                        <div><a href="/article/{{d.id}}">{{d.title}}</a></div>
                                        <div><a>{{d.description}}</a></div>
                                    </div>
                                </div>
              {% endif %}
            {% endfor %}

        </div>
    </div>
    <div class="navigation">
            {{ knp_pagination_render(data) }}
        </div>
</div>

{% endblock %}