{% extends 'base.html.twig'%}

{% block title %}Proovitoo artiklid {% endblock %}
{% block body %}
{% for category in categories %}
{% set counter = 0 %}
<div align="center" class="col ml-2 mr-2">
    <h1 class="mt-4"><a href="{{ path('categorylist', {'id': category.id}) }}">{{category.title}}</a></h1>

    {% if articles %}
    <div align="center" class="container">
        <div align="center" class="row ml-2 mr-2">
                {% for article in articles %}
                {% if category in article.categories and counter != 3%}
                    <div align="center" class="card text-dark mb-4 ml-3">
                            <div class="card-body">
                                    <div><img src={{article.picture}} alt="" height="200" width="relative"></div>
                                        <div><a href="{{ path('show', {'id': article.id}) }}">{{article.title}}</a></div>
                                        <div><a>{{article.description}}</a></div>
                                    </div>
                                </div>
                    {% set counter = counter + 1 %}
              {% endif %}
            {% endfor %}

        </div>
    </div>
    {% else %}
    <p>No articles to display</p>
    {% endif %}
</div>
{% endfor %}

{% endblock %}