{% extends 'base.html.twig'%}

{% block title %} {{ article.title }} {% endblock %}

{% block body %}
<div align="center" class="container">
        <img src="{{ article.picture }}" height="500" width="relative">
      
<h1 class="mb-2 mt-4">{{ article.title }}</h1>
<div class="mb-2"><a>Published: {{article.date}}</a></div>
<div class="mb-4"><a>Categories: {% for category in article.categories %} {{category}} {% endfor %}</a></div>
<p align="justify">{{ article.body }}</p>
<hr>
<button class="mb-4"><a href="#" onclick="history.go(-1)">Go back</a></button>
</div>
{% endblock %}