{{ form_start(form) }}
<div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row ml-2">
        <div class="col mb-2">
                <h4>{{ form_label(form.title) }}</h4>
                <div>{{ form_widget(form.title) }}</div>
        </div>
    </div>
    <button class="btn ml-4">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
