{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1 class="ml-2">Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ article.body }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ article.picture }}</td>
            </tr>
            <tr>
                <th>Categories</th>
                <td>{{ article.categories ? article.categories|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.date|date("d/m/Y") }}</td>
            </tr>
        </tbody>
    </table>

    <div><a class="btn btn-primary ml-4" href="{{ path('article_edit', {'id': article.id}) }}">edit</a></div>

    {{ include('article/_delete_form.html.twig') }}

    <div><a class="btn btn-primary ml-4 mb-2" href="{{ path('article_index') }}">back to list</a></div>
    
{% endblock %}